/*Corpo base*/

body {
    width: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.base {
    max-width: 1080px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.base2 {
    margin: 0 auto;
    max-width: 980px;
}


/*Logo*/

.logo {
    display: inline-block;
    width: 25%;
    height: 50px;
}

.logo img {
    max-width: 270px;
    width: 100%;
    max-height: 60px;
    height: 70%;
    padding: 7px;
}


/*Menu*/

.menu-div {
    width: 55%;
    display: block;
    float: right;
}

.menu {
    /*Estilizando a nav da classe menu */
    display: grid;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-family: Arial;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul {
    /*Estilizando as listas */
    padding: 0px;
    border: 1px;
    margin: 0;
    list-style: none;
    position: relative;
}

.menu ul li {
    width: 25%;
    float: left;
}

.menu a {
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffffff;
    font-weight: bold;
}

.menu ul ul {
    position: absolute;
    visibility: hidden;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:hover {
    background-color: #ffffff77;
    color: #000;
}

.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

.icon-menu,
label[for=”bt_menu”] {
    /*Criando o label */
    width: 50px;
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
}

#bt_menu {
    display: none;
}

.icon-menu,
label[for=”bt_menu”] {
    display: none;
}


/*Slide*/

button.slick-prev {
    font-size: 0px;
    border: none;
    width: 40px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    z-index: 99;
    background-image: url('../img/de-volta.png');
    left: 5%;
    top: 40%;
    outline: none;
}

button.slick-next {
    font-size: 0px;
    border: none;
    width: 40px;
    height: 50px;
    background-color: transparent;
    position: absolute;
    z-index: 99;
    background-image: url('../img/proximo.png');
    right: 5%;
    top: 40%;
    outline: none;
}

.slick-list {
    width: 100% !important;
}

.slick-initialized {
    overflow: hidden;
}

.slick-dots li button {
    font-size: 0px;
    border: 4px solid #8b8b8b5c;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots {
    margin: 0 auto;
    width: 20%;
    position: absolute;
    left: 40%;
    top: 85%;
    padding: 1%;
    outline: none;
    text-align: center;
}

li.slick-active button {
    background-color: #ffffff;
    outline: none;
}

.slick-dots li {
    display: inline-block;
    padding: 5px;
    outline: none;
}

.slick-dots li :active {
    outline: none;
}

.carrossel-slide {
    display: flex;
    height: 510px;
}


/*Serviço*/

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
    margin-right: auto;
    margin-left: auto;
}

.servicos h1,
.servicos h3 {
    width: 100%;
    display: block;
    text-align: center;
}

.servicos p {
    font-size: 18px;
    padding: 5px;
}

.servicos-conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.imagem-do-servico {
    display: flex;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-top: 1%;
    margin-top: 5%;
    margin: 0 auto;
}

.imagem-do-servico.imagem1 {
    background-image: url("../img/service1.png");
}

.imagem-do-servico.imagem2 {
    background-image: url("../img/service2.png");
}

.imagem-do-servico.imagem3 {
    background-image: url("../img/service3.png");
}

.partes-conteudo-servico {
    text-align: center;
    width: 30%;
    border: 3px solid #00000077;
    border-radius: 40px;
    padding-top: 2%;
}


/*Serviço 1200px*/

@media(min-width:800px) {
    .imagem-do-servico {
        height: 20vh;
        width: 20vh;
    }
}


/*Menu responsivo*/

@media(max-width: 800px) {
    /*Deixando o Menu Responsivo */
    .icon-menu,
    label[for=”bt_menu”] {
        position: fixed;
        top: 0;
        right: 0;
        display: block;
        float: right;
    }
    #bt_menu:checked~.menu {
        margin-right: 0;
    }
    #bt_menu:checked~.menu-div {
        overflow: visible;
        position: fixed;
        z-index: 99;
    }
    .menu-div {
        margin-right: 0;
        height: 0;
        width: 100%;
        overflow: hidden;
    }
    .menu {
        margin: 0px;
        transition: all .4s;
        width: 100%;
    }
    .menu ul {
        background-image: linear-gradient(#30739977, #13213eff);
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
    .topo {
        width: 100%;
        position: fixed;
        z-index: 4;
        padding: 0;
    }
}


/*Slide Responsivo*/

@media(max-width:800px) {
    .slick-dots {
        margin: 0 auto;
        position: absolute;
        width: auto !important;
        left: 35%;
        top: 85%;
        padding: 1%;
        outline: none;
        text-align: center;
    }
    .carrossel-slide {
        display: flex;
        height: 30%;
    }
}


/*Geral*/

@media(max-width:800px) {
    .response {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .response img {
        width: 80%;
        margin: 0 auto;
    }
    .texto-do-destaque {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    .texto-do-sobre {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
    h1,
    .texto-destaque h1,
    .sobre h1 {
        text-align: center;
    }
}


/*Serviço responsivo*/

@media(max-width:800px) {
    .imagem-do-servico {
        display: flex;
        height: 30vh;
        width: 30vh;
        border-radius: 50%;
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        position: relative;
        margin-top: 5%;
        margin: 0 auto;
    }
    .partes-conteudo-servico {
        width: 80%;
        margin: 5 auto;
        display: block;
        border: 3px solid #00000077;
        border-radius: 40px;
    }
    .servicos-conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
    }
}


/*rodapé*/

@media(max-width: 800px) {
    footer {
        color: #ffffff;
        text-align: right;
        background-color: #000000;
        width: 96%;
        display: flex;
        justify-content: space-evenly;
        padding: 2%;
        flex-direction: row;
    }
    .maps {
        width: 40%;
        height: 260px;
        border: 0;
        display: inline-grid;
        margin: auto;
    }
    .contato {
        top: 0;
        text-align: start;
        right: 0;
        width: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    footer+h2 {
        display: block;
        width: 100%;
        height: 35px;
        margin: auto 0;
        text-align: left;
    }
    .rodape {
        display: grid;
        width: 100%;
    }
    .rodape-conteudo {
        margin: 0;
        top: 0px;
        align-content: start;
        display: flex;
    }
    .divisao {
        margin: 0;
        float: left;
        width: 50%;
        display: block;
        margin-right: 0;
    }
    .divisao p {
        font-size: 12px;
        font-size: 3vw !important;
    }
}